name = "$APP_NAME"

pages_build_output_dir = "./dist"

compatibility_flags = ["nodejs_compat"]

compatibility_date = "$CURRENT_DATE"

[[d1_databases]]
binding = "DB"
database_name = "$NAME"
database_id = "$ID"
